#LWP-Cookies-1.0
Set-Cookie3: _alid_="0IOlK3UrY6e+ifWUO1C5nQ=="; path="/i/iplayerstream/secure_auth/,400kbps/2c97899456ff40dc01575684f9463a15--video--patrick-ness-introduces-class-WEB-EB_flv_avc1_vlow,480kbps/MP/2c97899456ff40dc01575684f9463a15--video--patrick-ness-introduces-class-WEB-EB_flv_avc1_low,800kbps/MP/2c97899456ff40dc01575684f9463a15--video--patrick-ness-introduces-class-WEB-EB_flv_avc1_med,1500kbps/MP/2c97899456ff40dc01575684f9463a15--video--patrick-ness-introduces-class-WEB-EB_flv_avc1_high,.mp4.csmil/"; domain=cp401489-vh.akamaihd.net; path_spec; discard; version=0
Set-Cookie3: _alid_="1VmWBeLNtXoZM6SIohJGWA=="; path="/i/iplayerstream/secure_auth/,400kbps/2c97899456ff40dc0157568515b03a17--video--introducing-miss-quill-WEB-EB_flv_avc1_vlow,480kbps/MP/2c97899456ff40dc0157568515b03a17--video--introducing-miss-quill-WEB-EB_flv_avc1_low,800kbps/MP/2c97899456ff40dc0157568515b03a17--video--introducing-miss-quill-WEB-EB_flv_avc1_med,1500kbps/MP/2c97899456ff40dc0157568515b03a17--video--introducing-miss-quill-WEB-EB_flv_avc1_high,.mp4.csmil/"; domain=cp401489-vh.akamaihd.net; path_spec; discard; version=0
Set-Cookie3: _alid_="ojwBM//28/LeTeuNqb5DoQ=="; path="/i/iplayerstream/secure_auth/,400kbps/2c97c593576630cc01577ad3d9ab63b0--video--class-is-WEB-EB_flv_avc1_vlow,480kbps/MP/2c97c593576630cc01577ad3d9ab63b0--video--class-is-WEB-EB_flv_avc1_low,800kbps/MP/2c97c593576630cc01577ad3d9ab63b0--video--class-is-WEB-EB_flv_avc1_med,1500kbps/MP/2c97c593576630cc01577ad3d9ab63b0--video--class-is-WEB-EB_flv_avc1_high,.mp4.csmil/"; domain=cp401489-vh.akamaihd.net; path_spec; discard; version=0
Set-Cookie3: _alid_="eaxVdvHOlvn6cRx/1CssLQ=="; path="/i/iplayerstream/secure_auth/,400kbps/2c97c593579fbda70157e36ab4ad7262--video--Class-Music-Intro-Website_flv_avc1_vlow,480kbps/MP/2c97c593579fbda70157e36ab4ad7262--video--Class-Music-Intro-Website_flv_avc1_low,800kbps/MP/2c97c593579fbda70157e36ab4ad7262--video--Class-Music-Intro-Website_flv_avc1_med,1500kbps/MP/2c97c593579fbda70157e36ab4ad7262--video--Class-Music-Intro-Website_flv_avc1_high,.mp4.csmil/"; domain=cp401489-vh.akamaihd.net; path_spec; discard; version=0
Set-Cookie3: _alid_="3AQ0OqUflvTrl2ba6CCNtw=="; path="/i/iplayerstream/secure_auth/,400kbps/2c97c594578add9601579f7f017063d7--video--40-sec-website-version_flv_avc1_vlow,480kbps/MP/2c97c594578add9601579f7f017063d7--video--40-sec-website-version_flv_avc1_low,800kbps/MP/2c97c594578add9601579f7f017063d7--video--40-sec-website-version_flv_avc1_med,1500kbps/MP/2c97c594578add9601579f7f017063d7--video--40-sec-website-version_flv_avc1_high,.mp4.csmil/"; domain=cp401489-vh.akamaihd.net; path_spec; discard; version=0
